<div class="container mx-auto px-4">
	@if (item) {
		<div class="bg-white rounded-lg shadow-xl overflow-hidden max-w-4xl mx-auto">
			<div class="aspect-video w-full">
				<img 
					[src]="item.ImagePath" 
					[alt]="item.Name" 
					class="w-full h-full object-cover"
				>
			</div>
			
			<div class="p-8">
				<div class="flex justify-between items-start mb-4">
					<h1 class="font-display text-3xl text-purple-900">{{ item.Name }}</h1>
					<span class="text-2xl font-medium text-green-600">{{ item.Price | currency: 'GBP':'symbol':'1.2-2' }}</span>
				</div>

				@if (item.Category) {
					<div class="inline-block text-purple-700 px-3 py-1 rounded-full text-sm font-medium mb-4 category-tag">
						{{ item.Category }}
					</div>
				}

				<p class="text-gray-600 mb-8 text-lg">{{ item.Description }}</p>

				<app-order/>
			</div>
		</div>
	}
</div>