<div class="about-section p-8 rounded-lg shadow-lg">
  <h2 class="font-display text-2xl text-purple-900 mb-4">About Coffee Lounge</h2>
  <p class="text-gray-600 mb-6">
    Welcome to <strong>Coffee Lounge</strong>, where passion meets perfection in every cup. 
    We serve the finest coffee, freshly baked pastries, and a cozy atmosphere to relax, work, or meet friends.
  </p>

	<div class="contact space-between">
		<div class="flex-item">
			<div class="contact-details">
				<h3 class="text-purple-700 text-xl mb-2">Order Now</h3>
				<p class="flex items-center">
					<img src="assets/svg/phone.svg" alt="Call" class="icon">
					<a href="tel:02083165888">020 8316 5888</a>
				</p>
				<p class="flex items-center">
					<img src="assets/svg/phone.svg" alt="Call" class="icon">
					<a href="tel:07917818319">079 1781 8319</a>
				</p>
			</div>
	
			<div class="order-online">
				<h3 class="text-purple-700 text-xl mb-2">Order Online</h3>
				<div class="button-container">
					<a href="https://www.ubereats.com" target="_blank" class="btn uber-eats-button">
						<img src="assets/images/uber-eats.png" alt="Uber Eats">
						Order on Uber Eats
					</a>
				</div>
			</div>
		</div>

		<div class="flex-item">
			<div class="social-media">
				<h3 class="text-purple-700 text-xl mb-2">Follow Us</h3>
				<div class="social-links">
					<a href="https://www.facebook.com/profile.php?id=61569911632264" target="_blank">
						<img src="assets/svg/facebook.svg" alt="Facebook">
					</a>
					<!-- <a href="https://www.instagram.com" target="_blank">
						<img src="assets/svg/instagram.svg" alt="Instagram">
					</a>
					<a href="https://www.x.com" target="_blank">
						<img src="assets/svg/x.svg" alt="X">
					</a> -->
				</div>
			</div>
	
			<div class="location">
				<h3 class="text-purple-700 text-xl mb-2">Find Us</h3>
				<p class="text-purple-700 text-xl mb-2">8 Plumstead High St, London SE18 1SN</p>
				
			</div>
		</div>
	</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155.26859784759267!2d0.0859506!3d51.489406699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a900482fb643%3A0x90e8b38d348dedf1!2sCoffee%20Lounge!5e0!3m2!1sen!2sbd!4v1739702077958!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
