<section class="about">
  <h2>About Us</h2>
  <p>We are a cozy coffee shop dedicated to serving the best coffee in town. Our beans are sourced from the finest farms around the world.</p>
	<section class="mb-16 text-center bg-white p-8 rounded-lg shadow-lg">
    <h2 class="font-display text-2xl md:text-3xl mb-6 text-purple-900">Visit Us</h2>
    <div class="space-y-4 mb-8">
      <div class="flex items-center justify-center space-x-2">
        <img src="assets/svg/phone.svg" alt="Phone" class="custom-icon">
        <span class="text-lg">02083165888, 07917818319</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <img src="assets/svg/map-pin.svg" alt="Location" class="custom-icon">
        <span class="text-lg">8 Plumstead High St, London SE18 1SN</span>
      </div>
    </div>
  </section>
</section>