<div class="space-y-6">
	<div class="order-section bg-purple-50 p-8 rounded-lg">
		<h2 class="font-display text-xl text-purple-900 mb-4">Order Now</h2>
		<div class="button-container">
			<a href="tel:02083165888" class="call-button">
				<img src="assets/svg/phone.svg" alt="Call" class="custom-icon">
				Call: 02083165888
			</a>
			<a href="tel:07917818319" class="call-button">
				<img src="assets/svg/phone.svg" alt="Call" class="custom-icon">
				Call: 07917818319
			</a>
		</div>
	</div>
	
	

	<div class="order-section bg-purple-50 p-8 rounded-lg">
		<h2 class="font-display text-xl text-purple-900 mb-4">Order Online</h2>
		<div class="button-container">
			<a href="https://ubereats.com" class="call-button">
				<img src="assets/images/uber-eats.png" alt="Call" class="custom-icon">
				Order from Uber Eats
			</a>
		</div>
	</div>
</div>