<main class="container mx-auto px-8 py-8">
  <!-- Today's Specials -->
	<ngb-carousel [interval]="2000" [wrap]="true" [keyboard]="true" [pauseOnHover]="true" class="slider">
		<ng-template ngbSlide *ngFor="let special of specials; index as i" id="slide-{{i}}">
			<img [src]="special.ImagePath" alt="Slide {{ i + 1 }}" class="slider-image d-block w-100" (click)="goToItem(special.Id)">
			<!-- Optional: add a caption if needed -->
			<div class="p-4 md:p-6" (click)="goToItem(special.Id)">
				<div class="flex justify-between items-start mb-2">
					<h3 class="font-display text-lg md:text-xl text-purple-900">{{ special.Name }}</h3>
					@if(special.Price > 0) {
						<span class="text-base md:text-lg font-medium text-green-600">{{ special.Price | currency: 'GBP':'symbol':'1.2-2' }}</span>
					}
				</div>
				<p class="text-sm md:text-base text-gray-600">{{ special.Description }}</p>
			</div>
		</ng-template>
	</ngb-carousel>

	<app-menu/>
  <app-about/>
</main>
