<main class="container mx-auto px-4 py-8">
  <!-- Today's Specials -->
  <section class="mb-16">
    <h2 class="font-display text-2xl md:text-3xl mb-6 text-center text-purple-800">
      Today's Specials
    </h2>
    <div class="slideshow-container">
      <div class="slideshow-wrapper" [style.transform]="'translateX(-' + (currentSpecialIndex * 100) + '%)'">
        @for (special of specials; track special.Name) {
          <div class="slideshow-slide">
            <div 
              class="bg-white rounded-lg shadow-xl overflow-hidden max-w-4xl mx-auto cursor-pointer hover:shadow-2xl transition-shadow"
							(click)="goToItem(special.Id)"
            >
              <div class="w-full">
                <img [src]="special.ImagePath" [alt]="special.Name" class="slideshow-image">
              </div>
              <div class="p-6">
                <div class="flex justify-between items-start mb-2">
                  <h3 class="font-display text-xl text-purple-900">{{ special.Name }}</h3>
                  <span class="text-lg font-medium text-green-600">{{ special.Description }}</span>
                </div>
                <p class="text-muted-foreground">£ {{ special.Price }}</p>
              </div>
            </div>
          </div>
        }
      </div>

      <button class="slideshow-button left" (click)="prevSlide()">
        <img src="assets/svg/left.svg" alt="Left" class="custom-icon">
      </button>
      <button class="slideshow-button right" (click)="nextSlide()">
        <img src="assets/svg/right.svg" alt="Right" class="custom-icon">
      </button>
    </div>
		
  </section>

	<app-menu/>
  <app-about/>
</main>
