$light-background: #f0fff0; // off-white color

// Apply background color globally
body {
  background-color: $light-background;
  font-family: 'Arial', sans-serif;
  color: #333; // dark text for contrast
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #EEF1DA;
	--color2: #D5E5D5;
	--color3: #C7D9DD;
	--color4: #ADB2D4;
	--color5: #4c1d95;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
