$light-background: #f0fff0; // off-white color

// Apply background color globally
body {
  background-color: $light-background;
  font-family: 'Arial', sans-serif;
  color: #333; // dark text for contrast
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
